{
  "openapi": "3.0.3",
  "info": {
    "title": "VoteHub Polling API",
    "description": "OpenAPI description for the public VoteHub Polling API based on the official VoteHub API documentation. The upstream API is currently marked as beta.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.votehub.com",
      "description": "VoteHub production API"
    }
  ],
  "tags": [
    {
      "name": "Polls",
      "description": "Retrieve political polls."
    },
    {
      "name": "Metadata",
      "description": "Retrieve available pollsters, subjects, and poll types."
    }
  ],
  "paths": {
    "/polls": {
      "get": {
        "tags": [
          "Polls"
        ],
        "summary": "Retrieve polls",
        "description": "Returns polls with optional filters. Poll type requires an exact match; pollster and subject support spaces or dashes.",
        "operationId": "getPolls",
        "parameters": [
          {
            "name": "poll_type",
            "in": "query",
            "description": "Exact poll type, for example approval, generic-ballot, or favorability.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "generic-ballot"
          },
          {
            "name": "pollster",
            "in": "query",
            "description": "Pollster name or partial name. Spaces and dashes are interchangeable.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Morning Consult"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "Poll subject. Spaces and dashes are interchangeable.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Return polls whose end date is on or after this date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-28"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Return polls whose end date is on or before this date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "min_sample_size",
            "in": "query",
            "description": "Minimum sample size.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 500
          },
          {
            "name": "population",
            "in": "query",
            "description": "Population type, for example rv (registered voters), lv (likely voters), or a (all voters).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "rv"
          }
        ],
        "responses": {
          "200": {
            "description": "Polls matching the supplied filters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/polls/{poll_id}": {
      "get": {
        "tags": [
          "Polls"
        ],
        "summary": "Retrieve a poll by ID",
        "operationId": "getPollById",
        "parameters": [
          {
            "name": "poll_id",
            "in": "path",
            "description": "Unique poll identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "appdonips4x59vt9j"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested poll.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          },
          "404": {
            "description": "Poll not found."
          }
        }
      }
    },
    "/pollsters": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve pollsters",
        "operationId": "getPollsters",
        "responses": {
          "200": {
            "description": "Distinct pollster names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subjects": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve subjects",
        "operationId": "getSubjects",
        "responses": {
          "200": {
            "description": "Subjects and their compatible poll types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/poll-types": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve poll types",
        "operationId": "getPollTypes",
        "responses": {
          "200": {
            "description": "Distinct poll types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PollListResponse": {
        "type": "object",
        "required": [
          "polls"
        ],
        "properties": {
          "polls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Poll"
            }
          }
        }
      },
      "Poll": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "poll_type": {
            "type": "string"
          },
          "sample_size": {
            "type": "string",
            "nullable": true
          },
          "population": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "pollster": {
            "type": "string"
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PollAnswer"
            }
          },
          "seat_name": {
            "type": "string",
            "nullable": true
          },
          "sponsors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "internal": {
            "type": "boolean"
          },
          "partisan": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string"
          }
        }
      },
      "PollAnswer": {
        "type": "object",
        "required": [
          "choice",
          "pct"
        ],
        "properties": {
          "choice": {
            "type": "string"
          },
          "pct": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Subject": {
        "type": "object",
        "required": [
          "subject",
          "poll_types"
        ],
        "properties": {
          "subject": {
            "type": "string"
          },
          "poll_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
